@import '../style';

nav,
#logo{
  display: inline-block;
  vertical-align: top;
}

nav{
  li{
    list-style: none;
    display: inline-block;
    color:$grey;
    a{
      color:$grey;
      &:hover{
        color:$text-color;
      }
    }
    &:after{
      content: "|";
    }
  }
}